streamlit

pymongo
motor
dnspython
python-dotenv

fastapi
uvicorn

numpy
pandas
scikit-learn
joblib

spacy

jinja2
reportlab
fpdf

bcrypt
passlib

pillow
requests

soundfile
librosa
noisereduce
webrtcvad-wheels

torch
torchaudio

faster-whisper
speechbrain
resemblyzer